{{ define "main" }}
<div id="profile">
  <div id="profile-header">
    <h2 id="profile-name">{{.Params.Name}}</h2>
    {{ if .Params.Keynote }}
      <p class="profile-keynote">Keynote Speaker</span>
    {{ end }}
    {{ $image := index (.Resources.ByType "image") 0 }}
    <div id="profile-picture"> 
      <img src="{{$image.RelPermalink}}" /> 
    </div>
    <h3>{{ .Params.Role }}</h3>
  </div>
  <div id="profile-bio">
    <p>{{ .Content }}</p>
  </div>
</div>

<h2>Speaker Schedule</h2>
{{ $id := .File.ContentBaseName }}
{{ $pan := .Params.Panel }}
{{ $pan_two := .Params.Panel_two }}

{{ if not (isset $pan_two nil) }}
  {{ range .Site.Params.Schedule }}
    {{ partial "schedule_day" (dict "root" $ "day" . "for_speaker" $id "pan" $pan_two) }}
  {{end}}
{{end}}

{{ range .Site.Params.Schedule }}
  {{ $show_day := true }}
  {{ if $show_day }}
    {{ partial "schedule_day" (dict "root" $ "day" . "for_speaker" $id "pan" $pan) }}
  {{end}}
{{end}}

{{end}}
