{{ define "main" }}
<div id="profile">
  <div id="profile-header">
    <h2 id="profile-name">{{.Params.Name}}</h2>
    {{ if .Params.Keynote }}
      <p class="profile-keynote">Flagship Session Speaker</span>
    {{ end }}
    {{ $image := index (.Resources.ByType "image") 0 }}
    <div id="profile-picture"> 
      <img src="{{$image.RelPermalink}}" /> 
    </div>
    <h3>{{ .Params.Role }}</h3>
  </div>
  <div id="profile-bio">
    <p>{{ .Content }}</p>
  </div>
</div>

<h2>Speaker Schedule</h2>
{{ $pan := .Params.Panel }}
{{ $panTwo := .Params.Panel_two }}
{{ $keynote := .Params.Keynote }}
{{ $workshop := .Params.Workshop }}
{{ $fileName := .File.ContentBaseName }}

{{ with .Params.Panel_two }}
  {{ range $.Site.Params.Schedule }}
    {{ $showDayTwo := false }}
    {{ range .slots }}
      {{ range .events }}
        {{ if eq .code $panTwo }}
          {{ $showDayTwo = true }}
        {{end}}
      {{end}}
    {{end}}
    {{ if $showDayTwo }}
      {{ partial "schedule_day" (dict "root" $ "day" . "pan" $panTwo "fileName" $fileName) }}
    {{end}}
  {{end}}
{{end}}

{{ with .Params.Panel }}
  {{ range $.Site.Params.Schedule }}
    {{ $showDay := false }}
    {{ range .slots }}
      {{ range .events }}
        {{ if eq .code $pan }}
          {{ $showDay = true }}
        {{end}}
        {{ if eq .keynote $keynote }}
          {{ $showDay = true }}
        {{end}}
        {{ if and (eq .type "keynote") (eq .moderator $fileName) }}
          {{ $showDay = true }}
        {{end}}
      {{end}}
    {{end}}
    {{ if $showDay }}
      {{ partial "schedule_day" (dict "root" $ "day" . "keynote" $keynote "pan" $pan "fileName" $fileName) }}
    {{end}}
  {{end}}
{{end}}

{{ with .Params.Workshop }}
  {{ range $.Site.Params.Schedule }}
    {{ $showWork := false }}
    {{ range .slots }}
      {{ range .events }}
        {{ if eq .workshop $workshop }}
          {{ $showWork = true }}
        {{end}}
      {{end}}
    {{end}}
    {{ if $showWork }}
      {{ partial "schedule_day" (dict "root" $ "day" . "workshop" $workshop "fileName" $fileName) }}
    {{end}}
  {{end}}
{{end}}

{{end}}
