{{ define "main" }}

<!--This section of the code adds the image of the speaker with the name on top and title on bottom-->
<div id="profile">
  <div id="profile-header">
    <h2 id="profile-name">{{.Params.Name}}</h2>
    {{ if and .Params.Keynote (ne .Params.Moderator true) }}
      <p class="profile-keynote">Flagship Session Speaker</span>
    {{ end }}
    {{ $image := index (.Resources.ByType "image") 0 }}
    <div id="profile-picture"> 
      <img src="{{$image.RelPermalink}}" /> 
    </div>
    <h3>{{ .Params.Role }}</h3>
  </div>

<!--This section of the code adds the speaker biography-->
  <div id="profile-bio">
    <p>{{ .Content }}</p>
  </div>
</div>

<!--This section of the code adds the speaker's schedule on the bottom-->
<h2>Speaker Schedule</h2>
{{ $pan := .Params.Panel }}
{{ $panTwo := .Params.Panel_two }}
{{ $keynote := .Params.Keynote }}
{{ $workshop := .Params.Workshop }}
{{ $fileName := .File.ContentBaseName }}

<!--This section of the code calls the function to add the speaker's schedule at the bottom.-->
{{ range $.Site.Params.Schedule }}
  {{ $showDay := false }}
  {{ range .slots }}
    {{ range .events }}
      {{ if or (and .code (eq .code $pan)) (and .code (eq .code $panTwo)) (and .keynote (eq .keynote $keynote)) (and .workshop (eq .workshop $workshop)) }}
        {{ $showDay = true }}
      {{end}}
    {{end}}
  {{end}}
  {{ if $showDay }}
    {{ partial "schedule_day" (dict "root" $ "day" . "pan" $pan "panTwo" $panTwo "keynote" $keynote "workshop" $workshop "fileName" $fileName) }}
  {{end}}
{{end}}

{{end}}
