<footer>
  <div class="socials">
    <span>We are social!</span>
    <a href="https://twitter.com/EuropeanConf"
      ><img src="/twitter.png" alt="Twitter"
    /></a>
    <a href="https://www.instagram.com/europeanconference/"
      ><img src="/instagram.png" alt="Instagram"
    /></a>
    <a href="https://github.com/European-Conference/euroconf.eu"
      ><img src="/github.png" alt="GitHub"
    /></a>
  </div>

  <p class="disclaimer">
    The European Conference is a student-led conference organized by the
    European Caucuses at the Harvard Business School, Harvard Law School and
    Harvard Kennedy School of Government.
  </p>

  <div class="student-orgs" markdown="1">
    <img src="/hbs.png" alt="Harvard Business School European Caucus" />
    <img src="/hls.png" alt="Harvard Law School European Caucus" />
    <img src="/hks.png" alt="Harvard Kennedy School European Caucus" />
  </div>

  <div class="footer-menu">
    {{ range .Site.Menus.footer }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{end}}
  </div>
</footer>
