<header>
  <a id="img-title" href="/">
    <img id="logo" src="/ec-logo.png" alt="European Conference Logo" />
    <h1>
      European Conference<br /><span class="subtitle"
        >February 9 and 10, 2024 | Cambridge, MA</span
      >
    </h1>
  </a>

  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      {{ $currentPage := . }}

      {{ range .Site.Menus.main }}

      <a href="{{ .URL }}"
      class="{{ if $currentPage.IsMenuCurrent "main" . }}is-active{{ end }}"
      >{{ .Name }}</a>
      {{end}}
    </div>
  </div>
</header>
<!--
<nav class="pure-g center">
</nav>

-->
