<header>
  <a id="img-title" href="/">
    <img id="logo" src="/ec-logo.png" alt="European Conference Logo" />
    <h1>
      European Conference<br /><span class="subtitle"
        >March 24<sup>th</sup> and 25<sup>th</sup> 2023 in Cambridge, MA</span
      >
    </h1>
  </a>

  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/" class="">Home</a>
      <a href="/speakers/">Speakers</a>
      <a href="/schedule/">Schedule</a>
      <a href="/organizers/">Organizers</a>
      <a href="/contact/">Contact</a>
    </div>
  </div>
</header>
<!--
<nav class="pure-g center">
</nav>

-->
