<header>
  <a id="img-title" href="/">
    <img id="logo" src="/ec-logo.png" alt="European Conference Logo" />
    <h1>
      European Conference<br /><span class="subtitle"
        >January 31 and February 1, 2025 | Cambridge, MA</span
      >
    </h1>
  </a>
</header>

<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
    
  <div class="nav-links">
    {{ $currentPage := . }}

    {{ range .Site.Menus.main }}

    <a href="{{ .URL }}" 
    class="{{ if eq .name "Past Conferences" }}dropdown{{end}}"
    class="{{ if $currentPage.IsMenuCurrent "main" . }}is-active{{end}}"
    >{{ .Name }}</a>
    {{end}}
  </div>
</div>

<!--
<nav class="pure-g center">
</nav>
-->
