<!--This partial creates the page where you see a speaker or organizer's picture next to their bio.-->

{{ $page := .page }}
{{ $keynoteLabel := .keynoteLabel }} 
{{ $image := index (.page.Resources.ByType "image") 0 }}

{{$pure := "pure-u-1-1 pure-u-md-1-3"}}

{{ if eq .Section "organizers" }}
{{ $pure = "pure-u-1-1 pure-u-md-1-4"}}
{{ end }}

<a href="{{.RelPermalink}}" class="person {{$pure}}">
  <img class="person-image" src="{{$image.RelPermalink}}" alt="{{$page.Params.Name}}" />
  <div class="person-description">
    <span class="person-name">{{$page.Params.Name}}</span>
    {{ if and $page.Params.Keynote $keynoteLabel }}
      <span class="person-keynote">Keynote Speaker</span>
    {{ end }}
    {{ if $page.Params.Moderator }}
      <span class="person-keynote">Moderator</span>
    {{ end }}
    <p class="person-bio">{{$page.Params.Role}}</p>
  </div>
</a>
