<!--This partial creates the page where you see a speaker or organizer's picture next to their bio.-->

{{ $image := index (.Resources.ByType "image") 0 }}

{{$pure := "pure-u-1-1 pure-u-md-1-3"}}

{{ if eq .Section "organizers" }}
{{ $pure = "pure-u-1-1 pure-u-md-1-4"}}
{{ end }}

<a href="{{.RelPermalink}}" class="person {{$pure}}">
  <img class="person-image" src="{{$image.RelPermalink}}" alt="{{.Params.Name}}" />
  <div class="person-description">
    <span class="person-name">{{.Params.Name}}</span>
    {{ if .Params.Keynote }}
      <span class="person-keynote">Keynote Speaker</span>
    {{ end }}
    {{ if .Params.Moderator }}
      <span class="person-keynote">Moderator</span>
    {{ end }}
    <p class="person-bio">{{.Params.Role}}</p>
  </div>
</a>
