<!-- schedule_slot.html is summoned by schedule_day.html. This part of the code first adds the time for each slot in the schedule. It then loops through the events under each slot in config.yaml to create a list of speakers ($speakerLinks) for each panel. It then adds the event title, speakers, and moderators. --> 
<div class="schedule-slot">
  <span class="time"> {{ .slot.time }} </span>
  <div class="schedule-events">
    {{ range .slot.events }}
      {{ if ne .type "workshop" }}
        {{$speakerLinks := slice}}
  
  <!-- This section looks for speakers whose first panel parameter (Params.panel) matches a given panel code (.code) in config.yaml -->
        {{ $pages := (where $.root.Site.RegularPages "Section" "speakers") }} 
        {{ $pagesOne := (where $pages "Params.panel" "!=" nil) }}
        {{ $bridge := (where $pagesOne "Params.panel" .code) }}
        {{ $display := (where $bridge "Params.display" "!=" false) }}
        {{ $speakers := (where $display "Params.moderator" "!=" true) }}
        {{ range $speakers}}
          {{ if eq .Params.show true }}
            {{ $speakerLinks = $speakerLinks | append (printf "<a href='%s'>%s</a>" .RelPermalink .Params.name) }}
          {{ else }}
            {{ $speakerLinks = $speakerLinks | append (printf "%s" .Params.name) }}
          {{end}}
        {{end}}
  
  <!-- This section looks for speakers whose second panel parameter (Params.panel_two) matches a given panel code (.code) in config.yaml -->
        {{ $pagesTwo := (where $pages "Params.panel_two" "!=" nil) }} 
        {{ $bridgeTwo := (where $pagesTwo "Params.panel_two" .code) }}
        {{ $displayTwo := (where $bridgeTwo "Params.display" "!=" false) }}
        {{ $speakersTwo := (where $displayTwo "Params.moderator" "!=" true) }}
        {{ range $speakersTwo}}
          {{ if eq .Params.show true }}
            {{ $speakerLinks = $speakerLinks | append (printf "<a href='%s'>%s</a>" .RelPermalink .Params.name) }}
          {{ else }}
            {{ $speakerLinks = $speakerLinks | append (printf "%s" .Params.name) }}
          {{end}}
        {{end}}
  
  <!-- This section looks for keynote speakers whose keynote parameter (Params.keynote) matches a given keynote code (.keynote) in config.yaml -->
        {{ $pagesKeynote := (where $pages "Params.keynote" "!=" nil) }} 
        {{ $bridgeKeynote := (where $pages "Params.keynote" .keynote) }}
        {{ $displayKeynote := (where $bridgeKeynote "Params.display" "!=" false) }}
        {{ $speakersKeynote := (where $displayKeynote "Params.moderator" "!=" true) }}
        {{ range $speakersKeynote}}
          {{ if eq .Params.show true }}
            {{ $speakerLinks = $speakerLinks | append (printf "<a href='%s'>%s</a>" .RelPermalink .Params.name) }}
          {{ else }}
            {{ $speakerLinks = $speakerLinks | append (printf "%s" .Params.name) }}
          {{end}}
        {{end}}
  
  <!-- This part of the code adds the panel title and speakers.-->
        <div class="schedule-event {{ .type }}" id="schedule-panel-{{ .code }}">
          <div class="event-info">
            {{ if eq .type "keynote"}}
              <span class="event-type-tag">Keynote Address</span><br />
            {{end}}
            {{ if eq .type "panel"}}
              <span class="event-type-tag">Panel</span><br />
            {{end}}
            {{ if eq .type "workshop"}}
              <span class="event-type-tag">Workshop</span><br />
            {{end}}
            <span class="event-title"> 
              {{.content | safeHTML}} 
            </span>
            <span class="event-speakers">
              {{ range $key, $value := sort $speakerLinks }}
                <!-- Creates a "|" between speakers. This code is not activated during the first loop because the array $.speakerLinks is zero-indexed, meaning the first value of $key is 0.-->
              {{if $key}}
                  |
                {{end}}
                {{safeHTML $value}}
              {{end}}
            </span>
        
  <!-- This part of the code adds the moderators. The first code block (commented out) added moderators listed in config.yaml. However, this required putting the moderator for each panel in the config file.
  Because the speaker's panel and moderator status are already listed in the speaker pages, the second code block was created to only use information from the speaker pages.
  However, the first (now unused) code block is retained in case there are any issues with the second code block. You can always add moderators to the config file if there are issues with just using the speaker pages.
          
            <span class="event-moderators">
              {{ if in .event.moderator " " }}
                Moderated by {{.moderator | safeHTML}}
              {{ else }}
                {{ $pages := (where $.root.Site.RegularPages "Section" "speakers") }}
                {{ $moderators := (where $pages "File.ContentBaseName" .moderator) }}
                {{ $moderator := index $moderators 0}}
                {{ if $moderator }}
                  {{ $moderatorLink := printf "<a href='%s'>%s</a>" $moderator.RelPermalink $moderator.Params.name }}
                  {{ $moderatorText := "Moderated by " }}
                  {{ if .moderatorText }}
                    {{ $moderatorText = .moderatorText }}
                  {{ end }}
                  {{$moderatorText}}
                  {{ safeHTML $moderatorLink }}
                {{ end }}
              {{ end }}
    -->
              
              {{ $pagesMod := (where $pages "Params.panel" "!=" nil) }}
              {{ $bridgeMod := (where $pagesMod "Params.panel" .code) }}
              {{ $displayMod := (where $bridgeMod "Params.display" "!=" false) }}
              {{ $moderators := (where $displayMod "Params.moderator" true) }}
              {{ range $moderators}}
                {{ if eq .Params.show true }}
                  Moderated by {{ printf "<a class='event-speakers' href='%s'>%s</a>" .RelPermalink .Params.name | safeHTML }}
                {{ else }}
                  Moderated by {{ printf <p class="event-speakers">"%s" .Params.name</p> | safeHTML }}
                {{end}}
              {{end}}
            </span>
          </div>
        
  <!-- This part of the code adds the location (obviously).-->
          <div class="event-location"> 
            {{ .location }} 
          </div>
        </div>
      {{end}}
    {{end}}
  </div>
</div>
