<div class="day">
  <div class="day-info">
    <h3 class="name">{{.day.name}}</h3>
    at the
    <span class="location">{{.day.location}}</span>
  </div>
  <div class="day-slots">
    {{ range .day.slots}}
      {{ $speaker_appears := false}}
      {{ range .events }}
        {{ if eq .moderator $.for_speaker }}
          {{ $speaker_appears = true }}
        {{ end }}
        {{ if eq .code $.pan }}
          {{ $speaker_appears = true }}
        {{ end }}
      {{ end }}
      {{ if not $.for_speaker }}
        {{ $speaker_appears = true }}
      {{ end }}
      {{ if $speaker_appears }}
        {{ partial "schedule_slot" (dict "root" $.root "slot" . "for_speaker" $.for_speaker "pan" $.pan) }}
      {{end}}
    {{end}}
  </div>
</div>
