<div class="schedule-slot">
  <span class="time"> {{ .slot.time }} </span>
  <div class="schedule-events">
    {{ range .slot.events }}
      {{$speakerLinks := slice}}
    
      {{ $pages := (where $.root.Site.RegularPages "Section" "speakers") }} 
      {{ $bridge := (where $pages "Params.panel" .code) }}
      {{ $speakers := (where $bridge "Params.moderator" "!=" true) }}
      {{ range $speakers}}
        {{ if eq .Params.show true }}
          {{ $speakerLinks = $speakerLinks | append (printf "<a href='%s'>%s</a>" .RelPermalink .Params.name) }}
        {{ else }}
          {{ $speakerLinks = $speakerLinks | append (printf "%s" .Params.name) }}
        {{end}}
      {{end}}

      {{ $pagesTwo := (where $pages "Params.panel_two" "!=" nil) }} 
      {{ $bridgeTwo := (where $pagesTwo "Params.panel_two" .code) }}
      {{ $speakersTwo := (where $bridgeTwo "Params.moderator" "!=" true) }}
      {{ range $speakersTwo}}
        {{ if eq .Params.show true }}
          {{ $speakerLinks = $speakerLinks | append (printf "<a href='%s'>%s</a>" .RelPermalink .Params.name) }}
        {{ else }}
          {{ $speakerLinks = $speakerLinks | append (printf "%s" .Params.name) }}
        {{end}}
      {{end}}

      {{ $pagesKeynote := (where $pages "Params.keynote" "!=" nil) }} 
      {{ $bridgeKeynote := (where $pages "Params.keynote" .keynote) }}
      {{ $speakersKeynote := (where $bridgeKeynote "Params.moderator" "!=" true) }}
      {{ range $speakersKeynote}}
        {{ if eq .Params.show true }}
          {{ $speakerLinks = $speakerLinks | append (printf "<a href='%s'>%s</a>" .RelPermalink .Params.name) }}
        {{ else }}
          {{ $speakerLinks = $speakerLinks | append (printf "%s" .Params.name) }}
        {{end}}
      {{end}}

      {{ partial "schedule_slot" (dict "root" $.root "event" . "speakerLinks" $.speakerLinks "pan" $.pan) }}
    
    {{end}}
  </div>
</div>
