<!--This file creates the layout on the homepage displaying the keynote speakers (along with their pictures) and panelists-->
<h3>Flagship Session Speakers</h3>
<div class="pure-g speakers">
  {{ range (sort (where (where (where .Site.RegularPages "Section" "speakers") "Params.moderator" "ne" "true") "Params.keynote" "ne" "false") "Params.priority" "asc")}}
    {{$keynoteLabel := true}}
    {{partial "person.html" (dict "page" . "keynoteLabel" $keynoteLabel)}} 
  {{end}}
</div>

<h3>Panelists</h3>
<!--Filtering out pages where 1) the person is a keynote speaker or 2) the display parameter is false-->
  <ul>
    {{ $pages := (where .Site.RegularPages "Section" "speakers") }} 
    
    {{ $filteredPages := slice }} 
    {{ range $pages }}
      {{ if not (and (eq .Params.keynote false) (eq .Params.moderator true)) }}
          {{ $filteredPages = $filteredPages | append . }}
      {{ end }}
    {{ end }}
    
    {{ $speakers := where $filteredPages "Params.display" "ne" false }}

<!--Ranging through and printing the speakers on the homepage-->
    {{ range (sort $speakers "File.ContentBaseName" "asc")}} 
      {{ if .Params.Show }}
        <li><b><a href="/speakers/{{.File.ContentBaseName}}">{{.Params.Name}}</a></b>, {{.Params.Role}}</li>
      {{ else }}
        <li><b>{{.Params.Name}}</b>, {{.Params.Role}}</li>
      {{end}}
    {{end}}
  </ul>
