<!--This file creates the layout on the homepage displaying the keynote speakers (along with their pictures) and panelists-->
<h3>Keynote Speakers</h3>
<div class="pure-g speakers">
  {{ range (sort (where (where .Site.RegularPages "Section" "speakers") "Params.keynote" "ne" "false") "Params.priority" "asc")}}
    {{$keynoteLabel := true}}
    {{partial "person.html" (dict "page" . "keynoteLabel" $keynoteLabel)}} 
  {{end}}
</div>
<h3>Panelists</h3>
  <ul>
    {{ range (sort (where (where (where .Site.RegularPages "Section" "speakers") "Params.keynote" false) "Params.display" "ne" "false") "Params.panel" "asc")}} 
      {{ if .Params.Show }}
        <li><b><a href="/speakers/{{.File.ContentBaseName}}">{{.Params.Name}}</a></b>, {{.Params.Role}}</li>
      {{ else }}
        <li><b>{{.Params.Name}}</b>, {{.Params.Role}}</li>
      {{end}}
    {{end}}
  </ul>
