@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ubuntu:wght@300&display=swap");

body {
  font-family: "Merriweather", "Ubuntu", Helvetica, Arial, sans-serif;
}

::selection {
  background: #f9c7d4; /* WebKit/Blink Browsers */
}

.center {
  justify-content: center;
  margin: 0 auto;
}

$header-height: 200px;
$responsive-medium: 900px;
$responsive-small: 600px;

header {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1)),
    url("/cambridge.jpeg");
  background-size: cover;
  background-position-y: 20%;

  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: $header-height;
  align-items: center;
  position: relative;

  #img-title {
    height: 100%;
    display: flex;
    align-items: center;
    #logo {
      height: 80px;
      width: auto;
      padding-right: 50px;
      padding: 0 10px;
    }

    h1 {
      text-align: center;
      white-space: nowrap;
      padding: 0 20px;
      color: #b7133e;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

      .subtitle {
        color: black;
        font-style: italic;
        text-shadow: none;
        font-weight: normal;
        font-size: 50%;
      }
    }
  }
}

@media (max-width: $responsive-medium) {
  header h1 {
    font-size: 160%;
  }

  img#logo {
    height: 60px !important;
    width: auto !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
}

.nav > .nav-links > a {
  font-size: 140%;
  display: inline-block;
  text-decoration: none;
  color: #b7133e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  padding: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.nav > #nav-check {
  display: none;
}

@media (max-width: $responsive-small) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 80px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #b7133e;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: $header-height;
    left: 0px;
    text-align: center;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
  }
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #b7133e;
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
nav a:hover {
  text-decoration: underline;
}

nav {
  margin: 20px auto;
}

footer {
  background: #b7133e;
  color: white;
  min-height: 400px;
  margin-top: 50px;
}

footer p {
  text-align: center;
  font-size: 80%;
  padding-top: 20px;
  margin: 0 auto;
}

.speaker {
  float: left;
  background-size: cover;
  min-height: 300px;
  position: relative;
  border-left: 10px solid white;
  box-sizing: border-box;
}

.speaker-description {
  position: absolute;
  color: white;
  bottom: 0;
  padding-top: 40px;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(183, 19, 62, 0.1) 0%,
    rgba(183, 19, 62, 0.8) 33%,
    rgba(183, 19, 62, 1) 100%
  );
  font-size: 110%;
  text-align: center;
  padding-left: 5px;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.speaker-bio {
  font-size: 70%;
}
